/*
*
* Breadcrumbs
*/
$breadcrumb-padding-vertical: 8px;
$breadcrumb-padding-horizontal: 15px;
$breadcrumb-bg: $gray-300;
$breadcrumb-color: $white;
$breadcrumb-active-color: rgba($white, .6);
$breadcrumb-separator: "\f14f";

.breadcrumbs-custom {
  position: relative;
  padding: 30px 0;
  text-align: center;
  background-color: $breadcrumb-bg;
  
  &::before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: $gray-800;
    opacity: .5;
  }

  .container {
    position: relative;
  }
}

.breadcrumbs-custom-path {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: .02em;
  @include spacingX(30px);
  
  a {
    display: inline;
    vertical-align: middle;
    &, 
    &:active, 
    &:focus {
      color: $breadcrumb-color;
    }
  }

  li {
    position: relative;
    display: inline-block;
    vertical-align: middle;

    &::after {
      content: $breadcrumb-separator;
      font-family: 'Material Design Icons';
      position: absolute;
      top: 50%;
      right: -11px;
      display: inline-block;
      font-size: 15px;
      font-style: normal;
      color: $white;
      transform: translate3d(0, -50%, 0);
    }
  }

  li:last-child {
    &:after { display: none; }
  }

  a:hover {
    color: $breadcrumb-active-color;
  }
}
 
* + .breadcrumbs-custom-path { margin-top: 20px; }
* + .breadcrumbs-custom-title { margin-top: 4px; }

@include media-breakpoint-up(sm) {

  .breadcrumbs-custom {
    padding: 50px 0 20px;
    @include spacingX(60px);
  }

  * + .breadcrumbs-custom-path { margin-top: 30px; }
}

@include media-breakpoint-up(md) {

  .breadcrumbs-custom {
    padding: 70px 0 30px;
  }

  .breadcrumbs-custom-path {
    @include spacingX(60px);
  }

  * + .breadcrumbs-custom-path { margin-top: 40px; }
  * + .breadcrumbs-custom-title { margin-top: 12px; }
}

@include media-breakpoint-up(xl) {

  .breadcrumbs-custom {
    padding: 90px 0 30px;
  }

  * + .breadcrumbs-custom-path { margin-top: 80px; }
}

@include media-breakpoint-up(xxl) {

  .breadcrumbs-custom {
    padding: 120px 0 48px;
  }

  * + .breadcrumbs-custom-path { margin-top: 108px; }
}
