/*
*
* Footers
*/

//
// Footer Classic
//

.footer-classic {

  h2 + p { margin-top: 30px; }
  h2 + * { margin-top: 35px; }
  .form-wrap + .form-wrap { margin-top: 10px; }

  .rights {
    color: $gray-600;
    padding-bottom: 30px;

    a { @include link(inherit, $white) }
  }
}

.bg-footer {
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  background-image: url(../images/bg-footer.jpg);
}

.footer-brand {
  display: inline-block;
}

* + .footer-brand { margin-top: 45px; }

// Medium ≥768px
@include media-breakpoint-up(md) {
  .footer-classic {
    text-align: left;
  }
}