extends  ../_skeleton

//- Includes
include ../components/_ui-thumbnail-classic

block variables
  - var activeCategory = 'gallery'
  - var pageName = 'Masonry Gallery'

block page 
  // Page Header
  include ../sections/_header-classic

  +breadcrumbs({
    category: activeCategory,
    subtitle: 'Our Gallery',
    path: [pageName],
    bgImage: 'bg-breadcrumbs'
  })

  // Classic Gallery
  section.section.section-xxl.bg-white.isotope-wrap
    .container.container-fluid-3.container-inset-75
      .isotope-filters.isotope-filters-horizontal.tabs-custom.tabs-horizontal.tabs-corporate
        ul.nav.nav-tabs
          li.nav-item: a.nav-link.active(href='#', data-isotope-filter='*', data-isotope-group='gallery') All
          li.nav-item: a.nav-link(href='#', data-isotope-filter='Type 1', data-isotope-group='gallery') Tab 1
          li.nav-item: a.nav-link(href='#', data-isotope-filter='Type 2', data-isotope-group='gallery') Tab 2
          li.nav-item: a.nav-link(href='#', data-isotope-filter='Type 3', data-isotope-group='gallery') Tab 3

      .row.row-30.isotope(data-isotope-layout='masonry', data-isotope-group='gallery', data-lightgallery='group')
        .col-sm-6.col-lg-4.col-xxl-3.isotope-item(data-filter='Type 3')
          +thumbnail-classic({
            modClass: 'thumbnail-classic-grid',
            img: 'gallery-masonry-1-420x624',
            imgOriginal: 'gallery-1-1200x800-original',
            number: '1'
          })

        .col-sm-6.col-lg-4.col-xxl-3.isotope-item(data-filter='Type 2')
          +thumbnail-classic({
            modClass: 'thumbnail-classic-grid',
            img: 'gallery-grid-2-480x340',
            imgOriginal: 'gallery-2-1200x800-original',
            number: '2'
          })

        .col-sm-6.col-lg-4.col-xxl-3.isotope-item(data-filter='Type 1')
          +thumbnail-classic({
            modClass: 'thumbnail-classic-grid',
            img: 'gallery-grid-3-480x340',
            imgOriginal: 'gallery-3-1200x800-original',
            number: '3'
          })

        .col-sm-6.col-lg-4.col-xxl-3.isotope-item(data-filter='Type 3')
          +thumbnail-classic({
            modClass: 'thumbnail-classic-grid',
            img: 'gallery-masonry-2-420x624',
            imgOriginal: 'gallery-4-1200x800-original',
            number: '4'
          })

        .col-sm-6.col-lg-4.col-xxl-3.isotope-item(data-filter='Type 1')
          +thumbnail-classic({
            modClass: 'thumbnail-classic-grid',
            img: 'gallery-masonry-3-420x624',
            imgOriginal: 'gallery-6-1200x800-original',
            number: '5'
          })

        .col-sm-6.col-lg-4.col-xxl-3.isotope-item(data-filter='Type 3')
          +thumbnail-classic({
            modClass: 'thumbnail-classic-grid',
            img: 'gallery-grid-7-480x340',
            imgOriginal: 'gallery-7-1200x800-original',
            number: '6'
          })

        .col-sm-6.col-lg-4.col-xxl-3.isotope-item(data-filter='Type 2')
          +thumbnail-classic({
            modClass: 'thumbnail-classic-grid',
            img: 'gallery-grid-5-480x340',
            imgOriginal: 'gallery-5-1200x800-original',
            number: '7'
          })

        .col-sm-6.col-lg-4.col-xxl-3.isotope-item(data-filter='Type 2')
          +thumbnail-classic({
            modClass: 'thumbnail-classic-grid',
            img: 'gallery-grid-8-480x340',
            imgOriginal: 'gallery-8-1200x800-original',
            number: '9'
          })

        .col-sm-6.col-lg-4.col-xxl-3.isotope-item(data-filter='Type 2')
          +thumbnail-classic({
            modClass: 'thumbnail-classic-grid',
            img: 'gallery-masonry-4-420x624',
            imgOriginal: 'gallery-11-1200x800-original',
            number: '8'
          })

        .col-sm-6.col-lg-4.col-xxl-3.isotope-item(data-filter='Type 1')
          +thumbnail-classic({
            modClass: 'thumbnail-classic-grid',
            img: 'gallery-grid-9-480x340',
            imgOriginal: 'gallery-9-1200x800-original',
            number: '10'
          })

        .col-sm-6.col-lg-4.col-xxl-3.isotope-item(data-filter='Type 3')
          +thumbnail-classic({
            modClass: 'thumbnail-classic-grid',
            img: 'gallery-grid-10-480x340',
            imgOriginal: 'gallery-10-1200x800-original',
            number: '11'
          })

        .col-sm-6.col-lg-4.col-xxl-3.isotope-item(data-filter='Type 1')
          +thumbnail-classic({
            modClass: 'thumbnail-classic-grid',
            img: 'gallery-grid-12-480x340',
            imgOriginal: 'gallery-12-1200x800-original',
            number: '12'
          })
  ="\n"

  // Page Footer
  include ../sections/_footer-classic