extends  ../_skeleton

//- Includes
include ../components/_post
include ../components/_ui-pagination

block variables
  - var activeCategory = 'blog'
  - var pageName = 'Modern blog'

block page 
  // Page Header
  include ../sections/_header-classic

  +breadcrumbs({
    category: activeCategory,
    subtitle: 'Our news',
    path: [pageName],
    bgImage: 'bg-breadcrumbs'
  })

  // Modern blog
  section.section.section-xxl.bg-default
    .container
      .row.row-50.justify-content-center.justify-content-xl-between
        .col-md-7.col-lg-8
          .post-modern-wrap
            .unit.flex-column.flex-lg-row
              .unit-left
                +post-modern-aside-left({
                  time: 'January 20, 2018 at 12:29 pm',
                  datetime: '2018-01-20 12:29',
                  img: 'team-8-76x76',
                  author: 'Ronald Chen'
                })
              .unit-body
                +post-modern({
                  mod: 'post-modern',
                  img: 'post-7-770x514',
                  title: '10 New Snow Sports to Try This Winter',
                  textBlogPage: 'modern',
                  numberViews: '193',
                  numberComments: '3',
                  badge: 'Winter'
                })

          .post-modern-wrap
            .unit.flex-column.flex-lg-row
              .unit-left
                +post-modern-aside-left({
                  time: 'January 20, 2018 at 12:29 pm',
                  datetime: '2018-01-20 12:29',
                  img: 'team-8-76x76',
                  author: 'Ronald Chen'
                })
              .unit-body
                +post-modern({
                  mod: 'post-modern',
                  img: 'post-8-770x514',
                  title: 'Daredevil Winter Sports in Finland',
                  textBlogPage: 'modern',
                  numberViews: '260',
                  numberComments: '18',
                  badge: 'Articles'
                })

          .post-modern-wrap
            .unit.flex-column.flex-lg-row
              .unit-left
                +post-modern-aside-left({
                  time: 'January 20, 2018 at 12:29 pm',
                  datetime: '2018-01-20 12:29',
                  img: 'team-8-76x76',
                  author: 'Ronald Chen'
                })
              .unit-body
                +post-modern({
                  mod: 'post-modern',
                  img: 'post-9-770x514',
                  title: '5 Easy Tips to Get Your Child Snowboarding This Season',
                  textBlogPage: 'modern',
                  numberViews: '170',
                  numberComments: '19',
                  badge: 'Tips & tricks'
                })

          .post-modern-wrap
            .unit.flex-column.flex-lg-row
              .unit-left
                +post-modern-aside-left({
                  time: 'January 20, 2018 at 12:29 pm',
                  datetime: '2018-01-20 12:29',
                  img: 'team-8-76x76',
                  author: 'Ronald Chen'
                })
              .unit-body
                +post-modern({
                  mod: 'post-modern',
                  img: 'post-10-770x514',
                  title: 'Best-Value Family Ski Trips',
                  textBlogPage: 'modern',
                  numberViews: '460',
                  numberComments: '10',
                  badge: 'Skiing'
                })

          a.button.button-load.button-block.button-white-outline(href='#') Load more posts
          .pagination-wrap
            +pagination-bootstrap(null, 1, 3)

        .col-md-5.col-lg-4.col-xl-3
          include ../sections/_blog-aside-long
  ="\n"

  // Page Footer
  include ../sections/_footer-classic