//- box minimal

mixin box-minimal-horizontal(obj)
  .unit.box-minimal.box-minimal-horizontal(class=obj.mod)
    .unit-left
      block
    .unit-body
      h4.box-minimal-title=obj.title
      p.box-minimal-text=obj.text