//- progress - object{progress}
mixin progress-bar-linear(progress)
	// Linear progress bar
	article.progress-linear
		.progress-header(class=progress.headerClass)
			if(progress.title)
				p=progress.title
			span.progress-value= progress.valueTo
		.progress-bar-linear-wrap
			.progress-bar-linear