// Our Prices
section.section.section-xxl.bg-white
  .container
    h1 Our Prices
    .row.row-0.no-gutters.custom-bordered.align-items-sm-end.align-items-lg-center
      .col-sm-6.col-lg-3
        .box-pricing
          .box-pricing-content
            h2.box-pricing-title Basic

            .box-pricing-rating
              span.icon.mdi.mdi-star.text-primary
              span.icon.mdi.mdi-star.text-primary
              span.icon.mdi.mdi-star-outline.text-gray-200
              span.icon.mdi.mdi-star-outline.text-gray-200
              span.icon.mdi.mdi-star-outline.text-gray-200

            ul.box-pricing-services
              li.active Private skiing courses
              li.active Snowboarding lessons
              li.active American winter destinations
              li Discounted apparel
              li Equipment rentals
              li Free delivery

            h2.box-rating-price
              sup $
              | 9.00/
              span day

            a.button.button-md.button-primary.button-leaf(href='#') Order now

      .col-sm-6.col-lg-3
        .box-pricing.standard
          .box-pricing-content
            h2.box-pricing-title Standard

            .box-pricing-rating
              span.icon.mdi.mdi-star.text-primary
              span.icon.mdi.mdi-star.text-primary
              span.icon.mdi.mdi-star.text-primary
              span.icon.mdi.mdi-star-outline.text-gray-200
              span.icon.mdi.mdi-star-outline.text-gray-200

            ul.box-pricing-services
              li.active Private skiing courses
              li.active Snowboarding lessons
              li.active American winter destinations
              li.active Discounted apparel
              li Equipment rentals
              li Free delivery

            h2.box-rating-price
              sup $
              | 14.00/
              span day

            a.button.button-md.button-primary.button-leaf(href='#') Order now

      .col-sm-6.col-lg-3
        .box-pricing
          .box-pricing-content
            h2.box-pricing-title Gold

            .box-pricing-rating
              span.icon.mdi.mdi-star.text-primary
              span.icon.mdi.mdi-star.text-primary
              span.icon.mdi.mdi-star.text-primary
              span.icon.mdi.mdi-star.text-primary
              span.icon.mdi.mdi-star-outline.text-gray-200

            ul.box-pricing-services
              li.active Private skiing courses
              li.active Snowboarding lessons
              li.active American winter destinations
              li.active Discounted apparel
              li.active Equipment rentals
              li Free delivery

            h2.box-rating-price
              sup $
              | 19.00/
              span day

            a.button.button-md.button-primary.button-leaf(href='#') Order now

      .col-sm-6.col-lg-3
        .box-pricing
          .box-pricing-content
            h2.box-pricing-title Platinum

            .box-pricing-rating
              span.icon.mdi.mdi-star.text-primary
              span.icon.mdi.mdi-star.text-primary
              span.icon.mdi.mdi-star.text-primary
              span.icon.mdi.mdi-star.text-primary
              span.icon.mdi.mdi-star.text-primary

            ul.box-pricing-services
              li.active Private skiing courses
              li.active Snowboarding lessons
              li.active American winter destinations
              li.active Discounted apparel
              li.active Equipment rentals
              li.active Free delivery

            h2.box-rating-price
              sup $
              | 30.00/
              span day

            a.button.button-md.button-primary.button-leaf(href='#') Order now

="\n"