include _section-product-catalog-1-line

.col-sm-6.col-lg-4.col-xl-3.wow.fadeInUp(data-wow-delay='0s')
  +box-product-classic({
    mod: 'box-product-classic',
    img: 'product-5-207x104',
    name: 'Coface Anti-Fog Goggles',
    price: '23'
  })
.col-sm-6.col-lg-4.col-xl-3.wow.fadeInUp(data-wow-delay='.1s')
  +box-product-classic({
    mod: 'box-product-classic',
    img: 'product-6-163x228',
    name: 'Black Diamond Cold Forge Hoody S',
    price: '33'
  })
.col-sm-6.col-lg-4.col-xl-3.wow.fadeInUp(data-wow-delay='.2s')
  +box-product-classic({
    mod: 'box-product-classic',
    img: 'product-7-195x228',
    name: 'SCARPA Spirit 3 Alpine Boot',
    price: '21'
  })
.col-sm-6.col-lg-4.col-xl-3.wow.fadeInUp(data-wow-delay='.3s')
  +box-product-classic({
    mod: 'box-product-classic',
    img: 'product-8-173x230',
    name: 'Black Diamond Dawn Patrol White Pack',
    price: '19'
  })