// Counters
+parallax({
  img: 'bg-counter',
  addClass: 'section-md context-dark bg-overlay-80 snow-animate'
})
  .container: .row.row-30
    .col-6.col-md-3
      // Box counter
      article.box-counter.wow.fadeInUp(data-wow-delay='0s')
        div.box-counter-icon.icon.mdi.mdi-account-multiple
        .box-counter-main
          .counter 23
        p.box-counter-title Personal instructors and coaches

    .col-6.col-md-3
      // Box counter
      article.box-counter.wow.fadeInUp(data-wow-delay='.1s')
        div.box-counter-icon.box-counter-icon-small.icon.mdi.mdi-weather-snowy
        .box-counter-main
          .counter 254
        p.box-counter-title Snow Days in a year

    .col-6.col-md-3
      // Box counter
      article.box-counter.wow.fadeInUp(data-wow-delay='.2s')
        div.box-counter-icon.icon.mdi.mdi-account-multiple
        .box-counter-main
          .counter 64329
        p.box-counter-title Happy customers

    .col-6.col-md-3
      // Box counter
      article.box-counter.wow.fadeInUp(data-wow-delay='.3s')
        div.box-counter-icon.box-counter-icon-small.icon.mdi.mdi-snowman
        .box-counter-main
          .counter 265
        p.box-counter-title Ski resorts around the world
="\n"